/* commentaires en CSS */

*{
    /* L'étoile ou asterique signifie qu'on selectionne tout le document, c'est un sélécteur universel */

    text-align: right; /* aligne le texte à droite */
}

body{
    background: #f5deb3; /* couleur de fond */
}

header{
    background-color: #900c3f;
    color: white; /* couleur du texte */

    height: 100px; /* hauteur fixée à 100 pixels */
}


nav{
    background-color: #daf7a6;
    height: 60px;
}


section{
    background: navy;
    height: 550px;
    color: yellow;
}

article{
    background: color #ff5733;
    height: 75px;
}

nav, footer{ /* je sépare les différentes balises à séléctionner par des virgules */
    color: #a93226;
    font-size: 25px;
}

/* Pour selectionner une class en CSS, j'utilise un point avant le nom que je lui ai donné */
.jaune{
    background-color: yellow;
    color: black;
}


/* Pour cibler l'id j'utilise un dièse # */
#noir{
    background-color: black;
    color: #fff;
    text-align: justify;
    width: 200px;
    height: 150px;
    font-size: 25px;
}