h1, h3, div, a, span, section{
    text-align: center;
    border: 1px solid orchid;
background-color: lightblue;
}

.block{
    display: block;
    /* on modifie l'affichage normal de la balise "a" qui est de type INLINE 
    pour qu'elle devienne comme une balise BLOCK */
}

.inline{
    display: inline;
    /* on modifie l'affichage normal de la balise div qui est de type BLOCK 
    pour qu'elle devienne comme une balise INLINE */
}