*{
    font-family: 'Koulen', cursive;
}

body{
    margin: 10px 0;
    padding: 0;
    text-align: center;
    font-family: 'kouler', cursive;
    background: #ddeeaa;
}

#conteneur{
    width: 770px; /*largeur*/
    margin: 0 auto; /*0 pour le haut et bas, auto qui centre gauche et droite par rapport au width */
    text-align: left; /* centre le contenu de mon #conteneur */
    border: 2px solid #aabb44; /* bordure autour de toute la page */
    background: #fff; /*couleur du fond de mon conteneur */
}

h1{
    height: 258px; /* personnaliser la hauteur de mon titre */
    background: url(../img/apple.jpg) no-repeat left top;
    margin: 0;
}

h1 a{ /* on donne les mêmes dimensions au lien, chose possible grace à la propriété display : block; qui transforme le lien en élément de type block, auquel on peut donner des propriétés de taille. on met aussi l'image de font qui a les mêmes dimensions que le cadre aisi créé */
    width: 400px;
    height: 70px;
    display: block;
    background: url(../img/title.gif) no-repeat;
    position: relative;
    left: 350px;
    top: 15px;
    text-indent: -5000px; /* le text-ident négatif est fait pour pouvoir cacher le texte hors de la page, ce que nous voulons */
}

ul{
    height: 35px; /* on donne une hauter au menu, correspondant à la taill de l'image utilisée en fond */
    margin: 0;
    padding: 0;
    background: url(../img/bg_menu.gif) repeat-x 0 -25px;
    /* On met ensuite l'image de fond avec un décalage de 25px vers le haut */
    list-style-type: none;
}

ul li{
    float: left; /* on rend les li en flottant pour pouvoir les afficher horizontalement */
    text-align: center; /* on centre le texte*/
}

ul li a{ /* C'est sur les liens que le gros du travail est effectué */
    display: block; /* Nous pouvons dimensionner les a grace à la propriété display: block; */
    width: 130px /*largeur*/;
    line-height: 25px; /* hauteur de ligne */
    font-size: 1.2em;  /*taille de la police*/
    font-weight: bold;/* mise en accentuation gras / bold de la police */
    letter-spacing: 2px; /* espacement des lettres */
    color: #fff; /*couleur de la police */
    text-decoration: none; /* décoration du texte */
    border-right: 2px solid #dea;
}

ul li a:hover{
    background: url(../img/bg_menu.gif) repeat-x 0 0;
}

main{
    padding: 0 30px 0 100px;
    background: url(../img/bg_page.gif) no-repeat;
    background-position: 15px 15px;
}

main h2{
    padding-left: 25px; /*on décale le texte en fonction de l'image */ 
    line-height: 25px; /* on décale le texte en fonction de l'image avec un interligne */
    font-size: 1.4em; /* on précise une taille de police */
    background: url(../img/little_apple.gif) no-repeat left bottom; /* une petite image */
    color: #9b2;
    border-bottom: 1px solid #9b2;/* bordure du bas avec couleur */
}

main h3{
    margin-left: 15px;
    padding-left: 5px;
    border-bottom: 1px solid #9b2;
    border-left: 3px solid #9b2;
    color: #9b2;
}

main p{
    text-align: justify; /* alignement justifié */
    text-indent: 2em; /* indentation supérieur à l'état normal pour aérer le tout */
    line-height: 1.7em; /* hauteur de ligne supérieur à l'état normal pour aérer le tout */
}
footer{
    margin: 0;
    padding-right: 10px;
    line-height: 30px;
    text-align: right;
    color: #8a0;
}



